.hero--homepage {
  &::before {
    background: url(../../images/beach-576.jpg) center;

    @include media-breakpoint-between(sm, md) {
      background-image: url(../../images/beach-768.jpg);
    }
    @include media-breakpoint-between(md, lg) {
      background-image: url(../../images/beach-992.jpg);
    }
    @include media-breakpoint-between(lg, xl) {
      background-image: url(../../images/beach-1200.jpg);
    }
    @include media-breakpoint-up(xl) {
      background-image: url(../../images/beach-1920.jpg);
    }
  }

  .hero__text {
    min-height: 12em;

    &::before {
      min-height: 12em;
    }
  }
}

.homepage-callouts {
  display: grid;
  grid-template-areas: "who-i-am" "who-i-am-info" "what-i-do" "what-i-do-info";

  @include media-breakpoint-up(md) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "who-i-am-info who-i-am" "what-i-do what-i-do-info";
  }
}

.callout {
  &--who-i-am {
    grid-area: who-i-am;
  }

  &--who-i-am-info {
    grid-area: who-i-am-info;
  }

  &--what-i-do {
    grid-area: what-i-do;
  }

  &--what-i-do-info {
    grid-area: what-i-do-info;
  }
}
