.open-source-package {
  &__link {
    display: inline-block;
    transform: translateY(-6px);

    svg {
      display: inline-block;
      height: 1.5em;
      width: auto;
    }
  }

  &__logo {
    @include media-breakpoint-down(sm) {
      margin-bottom: 1rem;
    }
  }

  &__links {
    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }

  @supports (display: grid) {
    display: grid;
    grid-template-columns: 8fr;

    &__logo {
      grid-row: 1;
    }

    &__name {
      grid-row: 2;
    }

    &__description {
      grid-row: 3;
    }

    &__statistics {
      grid-row: 4;
    }

    &.open-source-package--has-topics {
      .open-source-package {
        &__topics {
          grid-row: 5;
        }
      }

      &.open-source-package--has-links {
        .open-source-package {
          &__links {
            grid-row: 6;
          }
        }
      }
    }

    &.open-source-package--has-links {
      .open-source-package {
        &__links {
          grid-row: 5;
        }
      }
    }

    @include media-breakpoint-up(md) {
      &__name {
        grid-column: 1;
        grid-row: 1;
      }

      &__description {
        grid-column: 1;
        grid-row: 2;
      }

      &__statistics {
        grid-column: 1;
        grid-row: 3;
      }

      &.open-source-package--has-topics {
        .open-source-package {
          &__topics {
            grid-column: 1;
            grid-row: 4;
          }
        }

        &.open-source-package--has-links {
          .open-source-package {
            &__links {
              grid-column: 1;
              grid-row: 5;
            }
          }
        }
      }

      &.open-source-package--has-links {
        .open-source-package {
          &__links {
            grid-column: 1;
            grid-row: 4;
          }
        }
      }

      &.open-source-package--has-logo {
        grid-template-columns: 7fr 1fr;

        .open-source-package {
          &__name {
            grid-column: 1/3;
          }

          &__logo {
            grid-column: 2;
            grid-row: 2/4;
          }
        }

        &.open-source-package--has-topics {
          .open-source-package {
            &__logo {
              grid-row: 2/5;
            }
          }
        }

        &.open-source-package--has-links {
          .open-source-package {
            &__logo {
              grid-row: 2/5;
            }
          }

          &.open-source-package--has-topics {
            .open-source-package {
              &__logo {
                grid-row: 2/6;
              }
            }
          }
        }
      }
    }

    @include media-breakpoint-up(lg) {
      &.open-source-package--has-topics {
        grid-template-columns: 4fr 4fr;

        .open-source-package {
          &__name {
            grid-column: 1/3;
          }

          &__description {
            grid-column: 1/3;
          }

          &__topics {
            grid-column: 2;
            grid-row: 3;
          }
        }
      }

      &.open-source-package--has-links {
        .open-source-package {
          &__links {
            grid-column: 1/3;
          }
        }

        &.open-source-package--has-topics {
          .open-source-package {
            &__links {
              grid-column: 1/3;
              grid-row: 4;
            }
          }
        }
      }

      &.open-source-package--has-logo {
        &.open-source-package--has-topics {
          grid-template-columns: 4fr 3fr 1fr;

          .open-source-package {
            &__logo {
              grid-column: 3;
              grid-row: 2/4;
            }

            &__name {
              grid-column: 1/4;
            }
          }
        }

        &.open-source-package--has-links {
          .open-source-package {
            &__logo {
              grid-row: 2/4;
            }
          }

          &.open-source-package--has-topics {
            .open-source-package {
              &__logo {
                grid-row: 2/5;
              }
            }
          }
        }
      }
    }
  }
}
