.package-docs {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "content" "sidebar";

  @include media-breakpoint-up(md) {
    grid-template-columns: 25% 75%;
    grid-template-areas: "sidebar content";
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: 20% 80%;
  }

  &__sidebar {
    grid-area: sidebar;

    // The sidebar comes from Parsedown rendered content, map it to the vertical nav structure
    > ul {
      @extend .nav;
      @extend .flex-column;

      > li {
        @extend .nav-item;

        > a {
          @extend .nav-link;
        }
      }
    }
  }

  &__content {
    grid-area: content;
  }

  &__version-selector {
    padding-bottom: .75rem;
  }

  &.package-docs--version-not-found {
    grid-template-columns: 100%;
    grid-template-areas: "content";
  }
}
