{
    "plugins": [
        [
            "prismjs",
            {
                "languages": [
                    "markup",
                    "css",
                    "javascript",
                    "bash",
                    "php",
                    "twig",
                    "yaml"
                ],
                "theme": "default",
                "css": true
            }
        ]
    ]
}
