/node_modules
/public/css
/public/fonts
/public/hot
/public/images
/public/js
/public/packages
/public/storage
/public/vendor/nova
/public/vendor/telescope
/public/mix-manifest.json
/public/mix-sri.json
/storage/*.key
/vendor
/.idea
/.phpunit.cache
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.php-cs-fixer.cache
.phpunit.result.cache
.phpstorm.meta.php
