/node_modules
/public/attachments
/public/css/app.css
/public/fonts
/public/hot
/public/images
/public/js/app.js
/public/js/docs.js
/public/js/manifest.js
/public/js/vendor.js
/public/logos
/public/packages
/public/storage
/public/vendor/nova
/public/vendor/telescope
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.php_cs.cache
.phpunit.result.cache
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
