parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#3 \$topics of method BabDev\\GitHub\\ApiConnector\:\:replaceRepositoryTopics\(\) expects list\<string\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: app/Console/Commands/AddHacktoberfestExtras.php

		-
			message: '#^Parameter \#3 \$topics of method BabDev\\GitHub\\ApiConnector\:\:replaceRepositoryTopics\(\) expects list\<string\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: app/Console/Commands/RemoveHacktoberfestExtras.php

		-
			message: '#^Method BabDev\\GitHub\\Actions\\ContainerAwareFactory\:\:make\(\) should return TAction of BabDev\\Contracts\\GitHub\\Actions\\Action but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: app/GitHub/Actions/ContainerAwareFactory.php

		-
			message: '#^Method BabDev\\GitHub\\ApiConnector\:\:executeGraphqlQuery\(\) should return array\<string, mixed\> but returns array\.$#'
			identifier: return.type
			count: 1
			path: app/GitHub/ApiConnector.php

		-
			message: '#^Method BabDev\\GitHub\\ApiConnector\:\:fetchFileContents\(\) should return array\<string, mixed\> but returns array\|string\.$#'
			identifier: return.type
			count: 1
			path: app/GitHub/ApiConnector.php

		-
			message: '#^Method BabDev\\GitHub\\ApiConnector\:\:fetchPublicRepositories\(\) should return Illuminate\\Support\\Collection\<\(int\|string\), array\<string, mixed\>\> but returns Illuminate\\Support\\Collection\<\(int\|string\), mixed\>\.$#'
			identifier: return.type
			count: 1
			path: app/GitHub/ApiConnector.php

		-
			message: '#^Method BabDev\\GitHub\\ApiConnector\:\:fetchRepositoryLabels\(\) should return Illuminate\\Support\\Collection\<\(int\|string\), string\> but returns Illuminate\\Support\\Collection\<\(int\|string\), mixed\>\.$#'
			identifier: return.type
			count: 1
			path: app/GitHub/ApiConnector.php

		-
			message: '#^Method BabDev\\GitHub\\ApiConnector\:\:fetchRepositoryTopics\(\) should return Illuminate\\Support\\Collection\<\(int\|string\), string\> but returns Illuminate\\Support\\Collection\<\(int\|string\), mixed\>\.$#'
			identifier: return.type
			count: 1
			path: app/GitHub/ApiConnector.php

		-
			message: '#^Parameter \#1 \$value of function collect expects Illuminate\\Contracts\\Support\\Arrayable\<\(int\|string\), mixed\>\|iterable\<\(int\|string\), mixed\>\|null, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: app/GitHub/ApiConnector.php

		-
			message: '#^Unable to resolve the template type TKey in call to function collect$#'
			identifier: argument.templateType
			count: 2
			path: app/GitHub/ApiConnector.php

		-
			message: '#^Unable to resolve the template type TValue in call to function collect$#'
			identifier: argument.templateType
			count: 2
			path: app/GitHub/ApiConnector.php

		-
			message: '#^Cannot call method assertSuccessful\(\) on Illuminate\\Testing\\PendingCommand\|int\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Feature/ImportGitHubRepositoriesTest.php

		-
			message: '#^Cannot call method assertSuccessful\(\) on Illuminate\\Testing\\PendingCommand\|int\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Feature/ImportGitHubSponsorsTest.php

		-
			message: '#^Cannot call method assertSuccessful\(\) on Illuminate\\Testing\\PendingCommand\|int\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Feature/ImportGitHubSponsorshipTiersTest.php

		-
			message: '#^Cannot call method assertSuccessful\(\) on Illuminate\\Testing\\PendingCommand\|int\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Feature/ImportPackagistDownloadsTest.php

		-
			message: '#^Cannot call method assertSuccessful\(\) on Illuminate\\Testing\\PendingCommand\|int\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Unit/Console/SitemapGeneratorTest.php

