parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#2 \\$repository of method BabDev\\\\GitHub\\\\ApiConnector\\:\\:addRepositoryLabel\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: app/Console/Commands/AddHacktoberfestExtras.php

		-
			message: "#^Parameter \\#2 \\$repository of method BabDev\\\\GitHub\\\\ApiConnector\\:\\:fetchRepositoryLabels\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: app/Console/Commands/AddHacktoberfestExtras.php

		-
			message: "#^Parameter \\#2 \\$repository of method BabDev\\\\GitHub\\\\ApiConnector\\:\\:fetchRepositoryTopics\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: app/Console/Commands/AddHacktoberfestExtras.php

		-
			message: "#^Parameter \\#2 \\$repository of method BabDev\\\\GitHub\\\\ApiConnector\\:\\:replaceRepositoryTopics\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: app/Console/Commands/AddHacktoberfestExtras.php

		-
			message: "#^Parameter \\#3 \\$topics of method BabDev\\\\GitHub\\\\ApiConnector\\:\\:replaceRepositoryTopics\\(\\) expects array\\<int, string\\>, array given\\.$#"
			count: 1
			path: app/Console/Commands/AddHacktoberfestExtras.php

		-
			message: "#^Part \\$repositoryAttributes\\['name'\\] \\(mixed\\) of encapsed string cannot be cast to string\\.$#"
			count: 4
			path: app/Console/Commands/AddHacktoberfestExtras.php

		-
			message: "#^Parameter \\#1 \\$urlToBeCrawled of static method Spatie\\\\Sitemap\\\\SitemapGenerator\\:\\:create\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: app/Console/Commands/GenerateSitemap.php

		-
			message: "#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: app/Console/Commands/ImportGitHubSponsors.php

		-
			message: "#^PHPDoc tag @var for variable \\$sponsorEdge has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Console/Commands/ImportGitHubSponsors.php

		-
			message: "#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: app/Console/Commands/ImportGitHubSponsorshipTiers.php

		-
			message: "#^PHPDoc tag @var for variable \\$tierEdge has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Console/Commands/ImportGitHubSponsorshipTiers.php

		-
			message: "#^Parameter \\#1 \\$array of static method Illuminate\\\\Support\\\\Arr\\:\\:get\\(\\) expects array\\|ArrayAccess, array\\|null given\\.$#"
			count: 1
			path: app/Console/Commands/ImportPackagistDownloads.php

		-
			message: "#^Parameter \\#2 \\$string of function explode expects string, string\\|null given\\.$#"
			count: 1
			path: app/Console/Commands/ImportPackagistDownloads.php

		-
			message: "#^Parameter \\#2 \\$repository of method BabDev\\\\GitHub\\\\ApiConnector\\:\\:fetchRepositoryTopics\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: app/Console/Commands/RemoveHacktoberfestExtras.php

		-
			message: "#^Parameter \\#2 \\$repository of method BabDev\\\\GitHub\\\\ApiConnector\\:\\:replaceRepositoryTopics\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: app/Console/Commands/RemoveHacktoberfestExtras.php

		-
			message: "#^Parameter \\#3 \\$topics of method BabDev\\\\GitHub\\\\ApiConnector\\:\\:replaceRepositoryTopics\\(\\) expects array\\<int, string\\>, array given\\.$#"
			count: 1
			path: app/Console/Commands/RemoveHacktoberfestExtras.php

		-
			message: "#^Part \\$repositoryAttributes\\['name'\\] \\(mixed\\) of encapsed string cannot be cast to string\\.$#"
			count: 2
			path: app/Console/Commands/RemoveHacktoberfestExtras.php

		-
			message: "#^Parameter \\#1 \\$username of method Github\\\\Api\\\\Issue\\\\Comments\\:\\:create\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: app/GitHub/Actions/ClosePagerfantaReadOnlyRepoPullRequest.php

		-
			message: "#^Parameter \\#2 \\$repository of method Github\\\\Api\\\\Issue\\\\Comments\\:\\:create\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: app/GitHub/Actions/ClosePagerfantaReadOnlyRepoPullRequest.php

		-
			message: "#^Parameter \\#3 \\$issue of method Github\\\\Api\\\\Issue\\\\Comments\\:\\:create\\(\\) expects int, mixed given\\.$#"
			count: 1
			path: app/GitHub/Actions/ClosePagerfantaReadOnlyRepoPullRequest.php

		-
			message: "#^Method BabDev\\\\GitHub\\\\ApiConnector\\:\\:fetchFileContents\\(\\) should return array\\<string, mixed\\> but returns array\\|string\\.$#"
			count: 1
			path: app/GitHub/ApiConnector.php

		-
			message: "#^Unable to resolve the template type TKey in call to function collect$#"
			count: 2
			path: app/GitHub/ApiConnector.php

		-
			message: "#^Unable to resolve the template type TValue in call to function collect$#"
			count: 2
			path: app/GitHub/ApiConnector.php

		-
			message: "#^Call to function is_array\\(\\) with string\\|null will always evaluate to false\\.$#"
			count: 1
			path: app/GitHub/RequestHandler.php

		-
			message: "#^Parameter \\#1 \\$installationId of method Github\\\\Api\\\\Apps\\:\\:createInstallationToken\\(\\) expects int, mixed given\\.$#"
			count: 1
			path: app/GitHub/RequestHandler.php

		-
			message: "#^Cannot access offset 'secret' on mixed\\.$#"
			count: 1
			path: app/Http/Controllers/HandleGitHubAppWebhookController.php

		-
			message: "#^Parameter \\#1 \\$array of function array_keys expects array, mixed given\\.$#"
			count: 1
			path: app/Http/Controllers/HandleGitHubAppWebhookController.php

		-
			message: "#^Parameter \\#1 \\$hash of method BabDev\\\\Http\\\\Controllers\\\\HandleGitHubAppWebhookController\\:\\:hasValidSignature\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: app/Http/Controllers/HandleGitHubAppWebhookController.php

		-
			message: "#^Parameter \\#1 \\$repoConfig of method BabDev\\\\GitHub\\\\RequestHandler\\:\\:handleRequest\\(\\) expects array\\{app_id\\: string, key\\: string, secret\\: string, events\\: array\\<string, array\\<int, class\\-string\\<BabDev\\\\Contracts\\\\GitHub\\\\Actions\\\\Action\\>\\>\\>\\}, mixed given\\.$#"
			count: 1
			path: app/Http/Controllers/HandleGitHubAppWebhookController.php

		-
			message: "#^Parameter \\#2 \\$key of method BabDev\\\\Http\\\\Controllers\\\\HandleGitHubAppWebhookController\\:\\:hasValidSignature\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: app/Http/Controllers/HandleGitHubAppWebhookController.php

		-
			message: "#^Parameter \\#2 \\$value of static method Illuminate\\\\Support\\\\Str\\:\\:is\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: app/Http/Controllers/HandleGitHubAppWebhookController.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 1
			path: app/Listeners/AppendPageNumberToBreadcrumbs.php

		-
			message: "#^Method BabDev\\\\Matomo\\\\ApiConnector\\:\\:actions\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Matomo/ApiConnector.php

		-
			message: "#^Method BabDev\\\\Matomo\\\\ApiConnector\\:\\:request\\(\\) has parameter \\$query with no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Matomo/ApiConnector.php

		-
			message: "#^Method BabDev\\\\Matomo\\\\ApiConnector\\:\\:request\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Matomo/ApiConnector.php

		-
			message: "#^Method BabDev\\\\Matomo\\\\ApiConnector\\:\\:request\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: app/Matomo/ApiConnector.php

		-
			message: "#^Method BabDev\\\\Matomo\\\\ApiConnector\\:\\:visitsSummary\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Matomo/ApiConnector.php

		-
			message: "#^Parameter \\#1 \\$id of method Spatie\\\\Feed\\\\FeedItem\\:\\:id\\(\\) expects string, int given\\.$#"
			count: 1
			path: app/Models/PackageUpdate.php

		-
			message: "#^Parameter \\#1 \\$summary of method Spatie\\\\Feed\\\\FeedItem\\:\\:summary\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: app/Models/PackageUpdate.php

		-
			message: "#^Parameter \\#1 \\$updated of method Spatie\\\\Feed\\\\FeedItem\\:\\:updated\\(\\) expects Carbon\\\\CarbonInterface, Carbon\\\\Carbon\\|null given\\.$#"
			count: 1
			path: app/Models/PackageUpdate.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 2
			path: app/Nova/Metrics/BounceRate.php

		-
			message: "#^Method BabDev\\\\Nova\\\\Metrics\\\\BounceRate\\:\\:ranges\\(\\) should return array\\<int, string\\> but returns array\\<int, mixed\\>\\.$#"
			count: 1
			path: app/Nova/Metrics/BounceRate.php

		-
			message: "#^Parameter \\#1 \\$value of method Carbon\\\\Carbon\\:\\:addMinutes\\(\\) expects int, mixed given\\.$#"
			count: 1
			path: app/Nova/Metrics/BounceRate.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 2
			path: app/Nova/Metrics/LengthOfVisit.php

		-
			message: "#^Method BabDev\\\\Nova\\\\Metrics\\\\LengthOfVisit\\:\\:ranges\\(\\) should return array\\<int, string\\> but returns array\\<int, mixed\\>\\.$#"
			count: 1
			path: app/Nova/Metrics/LengthOfVisit.php

		-
			message: "#^Parameter \\#1 \\$value of method Carbon\\\\Carbon\\:\\:addMinutes\\(\\) expects int, mixed given\\.$#"
			count: 1
			path: app/Nova/Metrics/LengthOfVisit.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 1
			path: app/Nova/Metrics/UniqueVisitorsPerDay.php

		-
			message: "#^Method BabDev\\\\Nova\\\\Metrics\\\\UniqueVisitorsPerDay\\:\\:ranges\\(\\) should return array\\<int, string\\> but returns array\\<int, mixed\\>\\.$#"
			count: 1
			path: app/Nova/Metrics/UniqueVisitorsPerDay.php

		-
			message: "#^Parameter \\#1 \\$value of method Carbon\\\\Carbon\\:\\:addMinutes\\(\\) expects int, mixed given\\.$#"
			count: 1
			path: app/Nova/Metrics/UniqueVisitorsPerDay.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 1
			path: app/Nova/Metrics/VisitsPerDay.php

		-
			message: "#^Method BabDev\\\\Nova\\\\Metrics\\\\VisitsPerDay\\:\\:ranges\\(\\) should return array\\<int, string\\> but returns array\\<int, mixed\\>\\.$#"
			count: 1
			path: app/Nova/Metrics/VisitsPerDay.php

		-
			message: "#^Parameter \\#1 \\$value of method Carbon\\\\Carbon\\:\\:addMinutes\\(\\) expects int, mixed given\\.$#"
			count: 1
			path: app/Nova/Metrics/VisitsPerDay.php

		-
			message: "#^Parameter \\#1 \\$options of method Laravel\\\\Nova\\\\Fields\\\\Select\\:\\:options\\(\\) expects array\\<int\\|string, array\\<string, mixed\\>\\|string\\>\\|\\(callable\\(\\)\\: mixed\\)\\|Illuminate\\\\Support\\\\Collection, array\\{joomla\\-extension\\: mixed, laravel\\-package\\: mixed, php\\-package\\: mixed, phpspec\\-extension\\: mixed, sylius\\-plugin\\: mixed, symfony\\-bundle\\: mixed\\} given\\.$#"
			count: 1
			path: app/Nova/Package.php

		-
			message: "#^Cannot access offset 'request' on Illuminate\\\\Contracts\\\\Foundation\\\\Application\\.$#"
			count: 3
			path: app/Providers/AppServiceProvider.php

		-
			message: "#^Parameter \\#1 \\$tokenOrLogin of method Github\\\\Client\\:\\:authenticate\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: app/Providers/GitHubServiceProvider.php

		-
			message: "#^Parameter \\#2 \\$matomoPageId of class BabDev\\\\Matomo\\\\ApiConnector constructor expects string, mixed given\\.$#"
			count: 1
			path: app/Providers/MatomoServiceProvider.php

		-
			message: "#^Parameter \\#3 \\$matomoToken of class BabDev\\\\Matomo\\\\ApiConnector constructor expects string, mixed given\\.$#"
			count: 1
			path: app/Providers/MatomoServiceProvider.php

		-
			message: "#^Parameter \\#4 \\$matomoUrl of class BabDev\\\\Matomo\\\\ApiConnector constructor expects string, mixed given\\.$#"
			count: 1
			path: app/Providers/MatomoServiceProvider.php

		-
			message: "#^Parameter \\#1 \\$value of method Illuminate\\\\Routing\\\\RouteRegistrar\\:\\:domain\\(\\) expects string, mixed given\\.$#"
			count: 2
			path: app/Providers/RouteServiceProvider.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 1
			path: app/Services/DocumentationProcessor.php

		-
			message: "#^Parameter \\#1 \\$subject of static method Illuminate\\\\Support\\\\Str\\:\\:after\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: app/Services/DocumentationProcessor.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$values of function sprintf expects bool\\|float\\|int\\|string\\|null, mixed given\\.$#"
			count: 1
			path: app/Services/DocumentationProcessor.php

		-
			message: "#^Parameter \\#1 \\$html of class Illuminate\\\\Support\\\\HtmlString constructor expects string, string\\|false given\\.$#"
			count: 1
			path: app/helpers.php

		-
			message: "#^Cannot call method assertExitCode\\(\\) on Illuminate\\\\Testing\\\\PendingCommand\\|int\\.$#"
			count: 1
			path: tests/Feature/ImportGitHubRepositoriesTest.php

		-
			message: "#^Cannot call method assertExitCode\\(\\) on Illuminate\\\\Testing\\\\PendingCommand\\|int\\.$#"
			count: 1
			path: tests/Feature/ImportGitHubSponsorsTest.php

		-
			message: "#^Cannot call method assertExitCode\\(\\) on Illuminate\\\\Testing\\\\PendingCommand\\|int\\.$#"
			count: 1
			path: tests/Feature/ImportGitHubSponsorshipTiersTest.php

		-
			message: "#^Cannot call method assertExitCode\\(\\) on Illuminate\\\\Testing\\\\PendingCommand\\|int\\.$#"
			count: 1
			path: tests/Feature/ImportPackagistDownloadsTest.php

		-
			message: "#^Parameter \\#2 \\$contents of method Illuminate\\\\Contracts\\\\Filesystem\\\\Filesystem\\:\\:put\\(\\) expects resource\\|string, string\\|false given\\.$#"
			count: 1
			path: tests/Feature/SitemapTest.php

		-
			message: "#^Cannot call method assertExitCode\\(\\) on Illuminate\\\\Testing\\\\PendingCommand\\|int\\.$#"
			count: 1
			path: tests/Unit/Console/SitemapGeneratorTest.php

		-
			message: "#^Parameter \\#2 \\$contents of method Illuminate\\\\Contracts\\\\Filesystem\\\\Filesystem\\:\\:put\\(\\) expects resource\\|string, string\\|false given\\.$#"
			count: 2
			path: tests/Unit/View/PackageTitleComponentTest.php

