// Brand colors
$babdev-black: #23201f;
$babdev-green: #63b547;
$babdev-orange: #f05026;
$babdev-yellow: #fdd408;
$babdev-pink: #eb0a8e;
$babdev-blue: #34c1d9;

$gray-900: $babdev-black;

$success: $babdev-green;
$info: $babdev-blue;
$warning: $babdev-yellow;
$danger: $babdev-orange;

// Extra colors for use in components with color variants
$brand-colors: (
    "brand": $babdev-orange,
    "brand-black": $babdev-black,
    "brand-green": $babdev-green,
    "brand-orange": $babdev-orange,
    "brand-yellow": $babdev-yellow,
    "brand-pink": $babdev-pink,
    "brand-blue": $babdev-blue,
);

$link-color: $babdev-orange;
$link-decoration: none;

$font-family-brand: 'BPscriptRegular', sans-serif;
$font-family-sans-serif: 'Droid Sans', sans-serif;
$headings-font-family: 'Bree Serif', sans-serif;

$navbar-brand-font-size: 1.75rem;

$dropdown-link-active-bg: $babdev-orange;

$breadcrumb-padding-y: .75rem;
$breadcrumb-padding-x: 1rem;
$breadcrumb-bg: #e9ecef; // $gray-200
$breadcrumb-border-radius: .25rem; // $border-radius
