// Fonts
@import url(https://fonts.googleapis.com/css2?family=Bree+Serif&family=Droid+Sans);

/* BPScript font (Brand type-face) */
@font-face {
  font-family: 'BPscript';
  src: url(../fonts/BPscript.eot);
  src: url(../fonts/BPscript.eot?#iefix) format('embedded-opentype'),
  url(../fonts/BPscript.woff2) format('woff2'),
  url(../fonts/BPscript.woff) format('woff'),
  url(../fonts/BPscript.ttf) format('truetype'),
  url(../fonts/BPscript.svg#BPscript) format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Variable overrides
@import '_variables';

// Bootstrap
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

// Merge the maps now that the default map is configured
$theme-colors: map-merge($theme-colors, $brand-colors);

@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/containers";
//@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
//@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
//@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
//@import "~bootstrap/scss/card";
//@import "~bootstrap/scss/accordion";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/alert";
//@import "~bootstrap/scss/progress";
//@import "~bootstrap/scss/list-group";
//@import "~bootstrap/scss/close";
//@import "~bootstrap/scss/toasts";
//@import "~bootstrap/scss/modal";
//@import "~bootstrap/scss/tooltip";
//@import "~bootstrap/scss/popover";
//@import "~bootstrap/scss/carousel";
//@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/helpers";
@import "~bootstrap/scss/utilities/api";

// highlight.js
@import "~highlight.js/scss/atom-one-light";

// Components
@import "components/callout";
@import "components/docs-note";
@import "components/hero";
@import "components/item-published";
@import "components/package-statistics";
@import "components/package-title";
@import "components/package-topics";
@import "components/section-heading";

// Elements
@import "elements/alert";
@import "elements/footer";
@import "elements/navbar";

// Pages
@import "pages/homepage";
@import "pages/open-source-packages";
@import "pages/package-docs";
@import "pages/sponsor";
