.docs-note {
  --docs-note-content-color: var(--#{$prefix}gray-600);
  border-left: 5px solid var(--docs-note-content-color);
  padding: .75rem .5rem;
  margin-bottom: 1rem;
  font-style: italic;
  color: var(--docs-note-content-color);

  &.docs-note--new-feature {
    --docs-note-content-color: var(--#{$prefix}brand-green);
  }

  &.docs-note--deprecated-feature {
    --docs-note-content-color: var(--#{$prefix}brand-orange);
  }

  &.docs-note--tip {
    --docs-note-content-color: var(--#{$prefix}brand-blue);
  }
}
