.item-published {
  --item-published-content-color: var(--#{$prefix}gray-600);
  margin-bottom: .5rem;
  color: var(--item-published-content-color);
  font-size: .9rem;

  &__icon {
    display: inline-block;
    transform: translateY(-2px);
    fill: var(--item-published-content-color);

    svg {
      display: inline-block;
      height: .95em;
      width: auto;
      fill: inherit;
    }
  }
}
