@mixin statistic-separator {
  content: '•';
  color: var(--#{$prefix}brand-orange);
  padding-left: .25em;
  padding-right: .25em;
}

.package-statistics {
  .package-statistic {
    color: var(--#{$prefix}gray-600);
    font-size: .85em;

    .package-statistic__icon {
      display: inline-block;
      transform: translateY(-2px);
      fill: var(--#{$prefix}gray-600);

      svg {
        display: inline-block;
        height: .95em;
        width: auto;
        fill: inherit;
      }
    }

    &.package-statistic--unsupported {
      --#{$prefix}badge-color: var(--#{$prefix}brand-black);
      @extend .badge;
      background-color: var(--#{$prefix}brand-yellow);
    }

    &.package-statistic--package-type,
    &.package-statistic--downloads,
    &.package-statistic--stars {
      &::before {
        @include statistic-separator();
      }
    }
  }
}
