.navbar {
  border-top: .25rem solid var(--#{$prefix}brand-orange);
  box-shadow: 0 .125rem .5rem var(--#{$prefix}gray-500);

  .navbar-brand {
    font-family: $font-family-brand;

    svg {
      height: 50px;
      width: 62px;
      vertical-align: initial;
      display: inline-block;
    }
  }
}
