@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@source '../../components/**/*.vue';
@source '../../layouts/**/*.vue';
@source '../../pages/**/*.vue';
@source '../../app.vue';

@theme {
  --font-sans: 'Open Sans', sans-serif;
  --font-bpscript: 'BPscript', cursive;

  --color-brand-black: #23201f;
  --color-brand-green: #63b547;
  --color-brand-orange: #f05026;
  --color-brand-yellow: #fdd408;
  --color-brand-pink: #eb0a8e;
  --color-brand-blue: #34c1d9;
}
